
a.descriptor {
		position: relative;
		text-align: center;
  font-style: italic;
  text-decoration: none;
  /*background: #26c17f;*/
			border-color: #26c17f;

	}

.student {
		font-style: italic;
		font-weight: bold;
		color: aquamarine;
}
/* .videocontents{
	border: 1px dashed black;
	text-align:center;
	background-color: #2eac68;
} */
.contentstitle{
	font-size: 2em;
	font-weight: bold;
	text-decoration: underline;
	
}
.contentssubtitle{
	font-size: 1em;
	font-weight: bold;
}

/* #contentslist{
	color: yellow;
} */

.videoroute{
	text-decoration: none;
	color: white;
}
.returncontents{
	text-decoration: none;
	color: black;
}

.vidgrid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vidpagevids{
	padding: 10px;
}

.new-title{
	font-size: 26pt;
  text-decoration: underline;
}


