
a.descriptor {
		position: relative;
		text-align: center;
  font-style: italic;
  text-decoration: none;
  /*background: #26c17f;*/
			border-color: #26c17f;

	}

.banter {
		background-image: url("/images/banner-lg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}